127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1  localhost localhost.localdomain localhost6 localhost6.localdomain6
10.200.60.17 mysql1
10.200.60.37 mysql2
10.200.60.12 mysql3
