[mysqld]
# server configuration

log_error=/var/log/mysqld.log
bind-address = 0.0.0.0


server_id={{ server_id}}
gtid_mode=ON
enforce_gtid_consistency=ON
master_info_repository=TABLE
relay_log_info_repository=TABLE
binlog_checksum=NONE
log_slave_updates=ON
log_bin=binlog
binlog_format=ROW


transaction_write_set_extraction=XXHASH64
loose-group_replication_group_name="aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa"
loose-group_replication_start_on_boot=off
loose-group_replication_local_address= "{{ ansible_hostname }}:33306"
loose-group_replication_group_seeds= "{{ group_seeds }}"
loose-group_replication_bootstrap_group= off
